html {
  height: 100%;
}
body {
  height: 100%;
  text-align: center;
}
body textarea {
  width: 30%;
  height: 100%;
  border: none;
  margin: 0 20px;
  padding: 20px 0;
}
body textarea:first-of-type {
  border-right: 2px dotted #808080;
}
